@charset "utf-8";

.container {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 90;
  transition:
    opacity 1s,
    z-index 1s;
}

.section_title {
  color: #93c4c0;
  font-size: 40px;
  text-align: center;
}

/* 
About
*/
.section_about {
  padding-bottom: 20px;
  padding-top: 80px;
}

.about_content {
  width: 960px;
  margin: 0 auto;
}

.icon {
  margin: 100;
  display: flex;
  align-items: center;
}

.icon_img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.about_caption {
  padding-left: 25px;
  color: #93c4c0;
}

.about_info {
  margin: 0;
  font-size: 15px;
}

.about_name {
  margin: 0;
  font-size: 40px;
  padding-bottom: 10px;
}

/* 
Social
*/
.section_social {
  padding-bottom: 20px;
}

.social_content {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.X_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.X_img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.X_ID {
  padding-left: 20px;
  color: #93c4c0;
  font-size: 25px;
}

.X_Link {
  text-decoration: none;
  color: #93c4c0;
}

.YT_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.YT_img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.YT_ID {
  padding-left: 20px;
  color: #93c4c0;
  font-size: 25px;
}

.YT_Link {
  text-decoration: none;
  color: #93c4c0;
}

/* 
Contact
*/
.section_contact {
  color: #93c4c0;
  padding-bottom: 100px;
  text-align: center;
}

.contact_info {
  font-size: 15px;
}

.contact_mail {
  font-size: 30px;
}

.contact_mail > a {
  text-decoration: none;
  color: #93c4c0;
}

/* 
Footer
*/
.footer {
  position: absolute;
  width: 100%;
  background-color: #93c4c0;
  color: #fff;
  font-size: 20px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* animation */
.social_content a {
  display: inline-block;
  background-color: #93c4c0;
  background-image: -webkit-linear-gradient(
    left,
    #509292  0,
    #509292  50%,
    transparent 50%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-transition: 0.1s 0.2s;
  transition: 0.1s 0.2s;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

.social_content a:hover {
  background-position: 0 0;
  color: transparent;
  transition: 0.4s 0;
}

.contact_mail a {
  display: inline-block;
  background-color: #93c4c0;
  background-image: -webkit-linear-gradient(
    left,
    #509292  0,
    #509292  50%,
    transparent 50%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-transition: 0.1s 0.2s;
  transition: 0.1s 0.2s;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

.contact_mail a:hover {
  background-position: 0 0;
  color: transparent;
  transition: 0.4s 0;
}

@media (max-width: 870px) {
  .icon_img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .about_content {
    width: fit-content;
    margin-inline: auto;
  }

  .about_content figure {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .about_caption {
    text-align: center;
  }

  .about_name {
    padding-top: 20px;
    text-align: center;
    font-size: 35px;
  }

  .about_info {
    letter-spacing: 1.5px;
    font-size: clamp(10px, 3.5vw, 14px);
  }

  .contact_info {
    letter-spacing: 1.5px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about_caption {
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .contact_mail {
    font-size: 25px;
  }
}
