.button {
  padding: 0;
  border: none;
  outline: none;
  appearance: none;
  background: none;
  cursor: pointer;
}

.button a {
  font-family: var(--font-LINESeedJP_OTF_Bd);
  color: #93c4c0;
  font-size: clamp(18px, 3vw, 22px);
  text-decoration: none;
  background-color: rgba(255, 255, 255);
  border-radius: 8px;
  transition: all 0.3s ease;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
}

.button a:hover {
  background-color: #93c4c0;
  color: white;
}

@media (max-width: 768px) {
  .button a {
    font-size: clamp(10px, 3vw, 14px);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
  }
}
