.container {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 90;
  transition:
    opacity 1s,
    z-index 1s;
}

/* 
Projects
*/
.section_title {
  text-align: center;
  padding-top: 4%;
  color: #93c4c0;
  font-size: 40px;
}

.contents_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
}

.contents_year {
  font-size: 35px;
  color: #93c4c0;
  padding-left: 30px;
}

.content img {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  filter: blur(0px);
}

.content a {
  display: inline;
}

/* 
Footer
*/
.footer {
  background-color: #93c4c0;
  color: #fff;
  font-size: 20px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

/* animation */
.content {
  overflow: hidden;
  position: relative;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.content.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.content .caption {
  font-size: 150%;
  text-align: center;
  padding-top: 25%;
  color: #fff;
}
.content .mask {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.content:hover .mask {
  opacity: 1;
}

@media (max-width: 1200px) {
  .section_title {
    text-align: center;
    padding-top: 8%;
    color: #93c4c0;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .contents_item {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding-bottom: 80px;
  }
}
