@charset "utf-8";

.section_title {
  text-align: center;
}

.container {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 
Content
*/
.content {
  padding-top: 90px;
  display: flex; /* フレックスボックスを有効にしました */
  flex-direction: column; /* 縦方向に配置します */
  align-items: center; /* 水平方向に中央揃え */
}

.video_link {
  transform: scale(1.7);
  width: fit-content;
  margin: 0 auto; /* margin-inline: auto; を margin: 0 auto; に変更しました */
}

.main_info {
  color: #93c4c0;
  padding-top: 80px;
  display: flex; /* フレックスボックスを有効にしました */
  flex-direction: column; /* 縦方向に配置します */
  align-items: center; /* 水平方向に中央揃え */
  justify-content: center;
}

.content_info {
  padding-top: 100px;
  /* padding-left: 455px; 削除しました */
  text-align: center; /* テキストを中央揃えにしました */
  max-width: 600px; /* 最大幅を設定して中央に配置 */
  margin: 0 auto; /* 自動マージンで中央寄せ */
}

.content_info h2 {
  font-size: 40px;
}

.all_projects_button a {
  text-decoration: none;
  color: #93c4c0;
  font-size: 25px;
}

.content_caption {
  display: flex;
  font-size: 15px;
}

.content_caption h3 {
  font-size: 30px;
}

.content_about {
  padding-left: 50px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #93c4c0;
  color: #fff;
  font-size: 20px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.twitterEmbed {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px 0;
}
