.container {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'Main Video';
  overflow: hidden;
  height: 100vh;
}

.main {
  grid-area: Main;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.IntroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.IntroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IntroText {
  font-size: 20px;
  font-weight: bold;
  color: #93c4c0;
}

.IntroText:nth-child(2) {
  font-size: 50px;
  font-weight: bold;
  color: #93c4c0;
}

.video {
  grid-area: Video;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -28%; /* ここを変更 */
  z-index: 2;
  clip-path: circle(46% at 50% 50%);
}

.video video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 100;
}

.IconImage {
  border-radius: 100%;
}

.circle {
  border-radius: 100%;
  background-color: #93c4c0;
  width: 1300px;
  height: 1300px;
  display: none;
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Circle;
  display: none;
}

.nameContainer {
  display: none;
}

@media (max-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 'header' 'Intro' 'Circle';
  }

  .video {
    display: none;
  }

  .circle {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .main {
    grid-area: Intro;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: end;
  }

  .IconImage {
    width: 250px;
    height: 250px;
  }

  .circleContainer {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  .IntroTextContainer {
    display: none;
  }

  .nameContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .name {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-bottom: 0px;
    padding-right: 12px;
    padding-left: 12px;
    border-bottom: 2px solid white;
  }

  .jobTitle {
    padding-top: 6px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
}

@media (max-width: 768px) {
  .IconImage {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  .jobTitle {
    font-size: 10px;
    font-weight: bold;
    color: white;
  }
}
