.header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.header_navlist {
  padding: 0 15px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navitem > a {
  display: block;
  padding: 30px;
  color: #93c4c0;
  text-decoration: none;
  font-size: 30px;
}

.header_navitem span {
  position: relative;
  display: inline-block;
}

.header_navitem span::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: solid #93c4c0 1.4px;
  transform-origin: 50% 100%;
  transition:
    clip-path 0.3s,
    transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

.header_navitem span:hover::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    50% 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

.header_navitem span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.header_navitem:hover span {
  transform: translate3d(0, -2px, 0);
}

.button {
  display: none;
}

@media (max-width: 768px) {
  .header_navlist {
    display: none;
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    position: fixed;
    top: 5%;
    left: 5%;
    -webkit-tap-highlight-color: transparent;
    z-index: 100;
  }

  .span {
    background-color: #93c4c0; /* steel-500の代わりのカラーコード */
    block-size: 0.25rem; /* h-0.5 */
    inline-size: 2rem; /* w-6 */
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
  }

  .closedFirst {
    transform: translateY(-0.35rem); /* -translate-y-0.5 */
  }

  .closedSecond {
    opacity: 1;
    margin-block: 0.05rem; /* my-0.5 */
  }

  .closedThird {
    transform: translateY(0.35rem); /* translate-y-0.5 */
  }

  .openFirst {
    transform: rotate(45deg) translateY(0.35rem); /* rotate-45 translate-y-1 */
  }

  .openSecond {
    opacity: 0;
  }

  .openThird {
    transform: rotate(-45deg) translateY(-0.35rem); /* -rotate-45 -translate-y-1 */
  }

  .mobile_nav_background {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
    min-width: 100vw;
    transform-origin: top;
  }

  .mobile_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    line-height: 70px;
    text-align: center;
  }

  .mobile_nav span {
    display: inline-block;
    text-decoration: none;
    color: #93c4c0;
  }
}
